@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;700&display=swap');

body{
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle, #96efff, #90e9fe, #8ae3fd, #86ddfc, #82d7fa, #80d2f9, #7fccf7, #7ec7f5, #7ec1f2, #7fbaef, #81b4eb, #83ade7);  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 0;
  margin: 0 auto 1.5rem;
  border-radius: 2rem 1rem;
  height: 450px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 1rem;
}

form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  margin: .5rem auto ;
  max-width: 350px;
  width: 80%;
}

label{
  font-weight: 500;
  margin-bottom: .5rem;
  color: white;
}

button{
  padding: .75rem;
  border-radius: 100vmax;
  border: none;
  background-color: #65a4fc;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  width: 30%;
  cursor: pointer;
}

input{
  padding: .75rem;
  border-radius: 100vmax;
  border: none;
  width: 55%;
}

.card{
  background-image: linear-gradient(to top, #83ade7, #83ade7, #83ade7, #83ade7, #83ade7, #90b1e7, #9bb6e7, #a6bae7, #bbc5e7, #cdd0e7, #dcdce8, #e9e9e9);  color: white;
  margin: .5rem 1rem;
  border-radius: 1rem 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


.card img{
  width: 4rem;
}

.infoPrincipal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: solid 1px white;
  width: 100%;
  text-align: start;
}

@media (min-width: 550px){
  .infoPrincipal{
    justify-content: space-evenly;
  }
  .card{
    max-width: 600px;
  }
}

#tituloCard{
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

#temperatura{
  font-weight: 100;
  font-size: 2.5rem;
  margin: 0 1rem 0 0;
}


.parrafoSecundario{
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0;
}

.situacionActual{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-bottom: solid 1px white;
  width: 100%;
  padding: 1rem 0;
}

.parrafoTerciario{
  font-weight: 300;
  font-size: .85rem;
  margin: .25rem 0;
  background-color: #83ADE7;
  padding: .15rem .5rem;
  border-radius: 100vmax;
}

.dataExtra{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: .25rem;
  column-gap: 1rem;
}

.parrafoError{
  font-weight: 300;
  width: 80%;
  margin: 4rem auto .75rem;
}

.imgError{
  width: 3rem;
}